.Tiny-art {
  position:relative;
  float:left;
  padding:5px;
  margin:5px;
  font-size: 0.5vh; 
  font-family:Mono, Courier;
  letter-spacing:0.05vh;
  line-height:0.3vh;
  /*text-justify:kashida;*/
  color:#666;
  background-color:#222;
}

.Nav-button {
  display:inline-block;
  padding:10px;
  vertical-align:middle;
  border: 5px 0px solid #fff;
}

.inverted {
  filter:invert(100%);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 20px;
  color: white;
}

.App-title {
  display:inline-block;
  vertical-align: middle;
  margin:0px 20px;
  font-size: 1.5em;
  font-family:Garamond, serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
