a {
  color:#fff;
}

.Resume-chunk {
  color:#fff;
  padding:5px;
  margin:5px;
  display:inline-block;
  max-width:500px;
}

h2.Resume-chunk {
display:block;
vertical-align:top;
text-align:left;
padding:0;
}

.Resume-holder{
  padding:0px;
  margin-right:-15px;
  margin-left:-15px;
  display:inline-block;
}

.Resume-title {
  padding:0px;
  margin:0px;
  vertical-align:top;
}
.Resume-role {
  font-style:italic;
  margin-bottom:5px;
}

.Resume-item {
  max-width:400px;
  list-style-type: circle;
  list-style-position:inside;
  background-color:rgba(33,33,33,0.75);
  padding:10px;
  margin:5px;
  border-radius:10px;
  vertical-align:top;
  display:inline-block;
  text-align:left;
}

.quoteimg {
  background: url('./blockquote.svg') top -3px left -3px no-repeat;
  background-size: 50px 50px;  
}


.Quote p{
  padding:0px;
  margin:15px 10px;
}

.Infront{
  position:absolute;
  left:0;
  right:0;
  margin:auto;
}

.Bio {
  font-size:1.3em;
  background-color:rgba(33,33,33,0.75);
  font-family: Garamond, Georgia, times, mono;
  color:#ccc;
  border-radius:10px;
  text-align:justify;
  text-indent: 20px;
  padding:10px;
  padding-top:5px;

}

.Resume-spacer {
  background-color:none;
}


.Mobile-art {
  z-index:-1;
  position:absolute;
  text-align:right;
  font-family:Mono, Courier;
  top:0px;
  left:0px;
  color:#666;

  font-size: 0.5vh; 
  letter-spacing:0.005vh;
  line-height:0.35vh;
}

.Tiny-art {
  z-index:-1;
  position:absolute;
  text-align:right;
  font-family:Mono, Courier;
  top:0px;
  left:0px;
  color:#666;
  font-size: 0.3em; 
  letter-spacing:0.03em;
  line-height:0.5em;
  /*
  font-size: 0.5vh; 
  letter-spacing:0.005vh;
  line-height:0.35vh;
  */
}

.Noverflow {
  padding:0;
  margin:0;
  overflow:hidden;
  max-width:98vw;
  /*width:100%;
  overflow:hidden;
  /*overflow:hidden;*/
  /*width:100%;*/
}

.Nav-bar {
  display:inline-block;
  transition: all 1s ease, width 1s ease;
}

.Nav-button {
  position:relative;
  display:inline-block;
  color:white;
  /*font-family:Garamond, serif;*/
  font-family:monotype, mono, sans;
  font-size:1em;
  padding:15px;
  font-style:bold;
  /*font-variant: small-caps;*/
  vertical-align:middle;
  border:2px solid #222;
  transition: all 1s ease;
}

.Nav-button:hover {
  border-bottom:2px solid #ccc;
  color:#ccc;
  transition: all 1s ease;
}

.Nav-button.active {
  border-bottom:2px solid #ccc;
  background-color:rgba(140,140,140,0.1);
  color:#ccc;
  transition: all 0.5s ease-in-out;
}
.inverted {
  filter:invert(100%);
}

.dates {
  vertical-align:top; 
  font-weight: bold;
  margin:10px;
  font-style: italic;
  /*width:10%;*/
  /*transform:rotate(-90deg);*/
  /*writing-mode: vertical-rl;
  text-orientation: upright;*/
}

.Skill-wrap {
  max-width:400px;
  background-color:rgba(33,33,33,0.75);
  padding:10px;
  margin:5px;
  border-radius:10px;
}

.Skill-circle {
  position:relative;
  display:inline-block;
  padding:10px;
  transition: all 1s ease, width 1s ease;
}

.Skill-circle ul{
  list-style-type: none;
  vertical-align: middle;
  text-align:left;
  transition:height 5s ease;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Spacer {
  position:relative;
  margin-top:60px;
}

.App-header {
  text-align:center;
  z-index:10;
  position:fixed;
  top:0;
  width:100%;
  /*width:100%;*/
  background-color: #222;
  /*height: 150px;*/
  border-bottom: 2px solid #666;
  color: white;
}

.App-title {
  vertical-align: middle;
  text-align:center;
  /*margin:0px 20px;*/
  /*font-size: 1.5em;*/
  /*border:2px solid #222;*/
}

/*.App-title:hover {
   border-bottom:2px solid #ccc;
  border-top:2px solid #ccc;
  color:#ccc;
  transition: color 1s ease-in-out, border 1s ease;
}
*/

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}