/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  left: 24px;
  top: 24px;
  /*left: 15px;
  top: 15px;*/
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:#ccc; /*background: #373a47;*/
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.Burger-nav-button {
  color:white;
  /*font-family:Garamond, serif;*/
  font-family:monotype, mono, sans;
  font-size:1em;
  padding:15px;
  font-style:bold;
  /*font-variant: small-caps;*/
  vertical-align:middle;
  transition: all 1s ease;
}

.Burger-nav-button.active {
  background-color:rgba(140,140,140,0.1);
  color:#ccc;
  transition: all 0.5s ease-in-out;
}


/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background-color:rgba(33,33,33,1);/*background: #373a47;*/
  padding: 0.5em 0.5em;
  font-size: 1em;
  color:white;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}